
@import 'variables';





.circle {
	pointer-events: none;
}

.circle-l {
	width: 50%;
	height: 462px;
	position: absolute;
	top: 13%;
	right: 10%;

	path {

	}

	path.circle-l-path {
		fill: none;
		stroke: $white-accent-color;

		&.circle-l2, &.circle-l3, &.circle-l4, &.circle-l5 {
			visibility: hidden;
		}
	}
}

.circle-sm {
	width: 20%;
	height: 250px;
	position: absolute;
	top: 40%;
	left: 10%;

	path {

	}

	path.circle-sm-path {
		fill: none;
		stroke: $white-accent-color;

		&.circle-sm2, &.circle-sm3, &.circle-sm4, &.circle-sm5 {
			visibility: hidden;
		}
	}
}





