/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Michroma|Spectral');
@import url("https://use.typekit.net/cco7rbw.css");
@import 'gel';

$tablet-breakpoint: 640px;
$desktop-breakpoint: 1027px;
$edge-breakpoint: 1440px;
$url-font: "nimbus-sans";
$copy-font: "Michroma";


$home-bg-color: #eae6df;
$home-copy-color: #9e8261;
$home-accent-color: #eba900;


@mixin tablet {
	@media only screen and (min-width: $tablet-breakpoint){
		@content;
	}
}

@mixin desktop {
	@media only screen and (min-width: $desktop-breakpoint){
		@content;
	}
}

@mixin bigger-desktop {
	@media only screen and (min-width: $edge-breakpoint){
		@content;
	}
}


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: $home-bg-color;
	width: 100%;
	height: 100%;
	// overflow: hidden;

	&.home-body {
		color: $home-copy-color;
	}

	&.dinnerBG{
		background: #07263a;
	}

	&.bureauBG{
		background: #a03712;
	}
}

.phone-number {
	color: $home-accent-color;
}


/* 2. Content ================================= */

.content {
	width: 100%;
	height: 100vh;
	position: relative;
	font-family: Michroma;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.8em;
}

.top-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;

	@include tablet {
		width: 95%;
		flex-direction: row;
		align-items: unset;
		justify-content: space-between;
	}
}

.phone-number, .reservations {
	font-family: $url-font;
	font-size: 1.5em;

	.dinnerBG & {
		color: #83a0b0;
	}

	.bureauBG & {
		color: #f79549;
	}
}

.phone-number {
	margin-bottom: 50px;
		
	span {
		padding: 10px;
	}
}

.hamburger-menu {
	background: url(../../dist/img/hamburger.png) no-repeat center;
	background-size: auto 100%;
	width: 69px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;


	div {
		width: 32px;
		height: 1px;
		background: white;
		margin: 5px 0;

		&:nth-child(2) {
			margin-left: 10px;
		}
	}

	@include tablet {
		display: none;
	}
}

.reservations {
	color: $home-copy-color;
	display: none;
	text-decoration: none;

	@include tablet {
		display: block;
	}
		
	@include bigger-desktop {
		transform: rotate(-90deg);
		transform-origin: 0;
		position: absolute;
		top: 67%;
		font-size: 1.5em;
	}
}

.middle-group {
	margin: 48% 10% 53%;
	display: block;
	width: 85%;

	@include tablet {
		margin: 15%;
		padding: 0 1em;
		// text-align: center;
	}

	// @include bigger-desktop {
	// 	padding-top: 15%;
	// }

	nav {
		list-style: none;
		font-weight: 500;
		font-size: 2em;
		line-height: 1.7;

		// @include tablet {
		// 	font-size: 3em;
		// }
			
		@include tablet {
			font-size: 3em;
			max-width: 1000px;
		}

		.nav-dash {
			display: none;

			@include tablet {
				display: inline;
			}
		}


		li {
			@include tablet {
				display: inline;
			}

			.dinnerBG & {
				&:nth-child(1) {
					a {
						color: #f79549;
					}
				}
			}
			

			a {
				text-decoration: none;
				text-transform: lowercase;
				color: $home-copy-color;

				.dinnerBG &{
					color: #83a0b0;

					@include tablet{
						color: #030e14;
					}
				}

				&.bureau-highlight-others{
					color: #f79549;

					@include tablet{
						color: #030e14;
					}
				}

				&.dinner-highlight{
					color: #ffa489;
					text-decoration: underline;
					text-decoration-color: white;
				}

				&.bureau-highlight{
					color: #8cc6c6;
					text-decoration: underline;
					text-decoration-color: white;
				}
			}
		}

		//li {

			//@include desktop {
			// .description{
			// 	display: block;
			// 	// display: none;
			// 	position: relative;
			// 	font-family: $url-font;
			// 	font-size: 30px;
			// 	padding: 0px;
			// 	// width: 500px;
			// 	margin: 0px 0px 0px 0px;

			// 	&.left{
			// 		text-align: left;
			// 		display: block;
			// 		margin: 0px;
			// 	}

			// 	&.right{
			// 		text-align: right;
			// 	}
			// }
	}
}

.kr-footer {
	width: 85%;
	max-width: 550px;
	font-family: $url-font;
	font-size: 1.5em;
	text-transform: lowercase;

	&.dinnerBodyCopy{
		color: #83a0b0;
	}

	&.bureauBodyCopy{
		color: #f79549;
	}

	// @include tablet {
	// 	padding-top: 8%;
	// }

	@include tablet {
		width: 100%;
		max-width: unset;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: auto;
	}

	.social {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include tablet {
			width: 25%;
		}

		.icon {
			width: 37px;
			height: 32px;

			a {
				color: rgba(0,0,0,0);
			}
		}

		.fb-icon {
			background: url(../../dist/img/fb-icon.png) no-repeat center;
			background-size: auto 100%;
		}

		.ig-icon {
			background: url(../../dist/img/ig-icon.png) no-repeat center;
			background-size: auto 100%;
		}

		.tw-icon {
			background: url(../../dist/img/twitter-icon.png) no-repeat center;
			background-size: auto 100%;
		}
	}

	p {
		display: none;

		@include tablet {
		display: flex;
		flex-direction: column;
		text-align: right;
		}
	}
}

// navigation link styles

ul li{
	transition: opacity 0.4s ease-out;
}

ul:hover li, ul:active li {
	opacity: 0.2;
}

ul:hover li:hover, li:active {
    opacity: 1;
}

// PANEL STUFF

.dinner-mobile{
	font-size: 20px;
	font-family: "spectral";
	color: #83a0b0;
	overflow: hidden;
	max-height: 0px;
	padding: 0px;
	transition-property: max-height, padding;
	transition-duration: 0.3s, 0s;
	transition-delay: 0s;
	display: none;

	max-height: 0px;
	padding: 0px;
	transition-delay: 0s, 0.3s;

	&.open{
		max-height: 1000px;
		display: block;
		overflow: auto;

		@include tablet{
			display: none;
		}
	}


	.panel-img{
		width: 100%;
		height: 355px;
		margin: 20px 0px;

		@include tablet{
			height: 755px;
		}
	}

	.description-link{
		display: block;
		text-align: center;
		font-family: $url-font;
		font-size: 24px;
		margin: 50px 0px;

		.dinner-a {
			color: #ffa489;
		}

		.bureau-a{
			font-size: 20px;
			color: #8cc6c6;
		}
	}
}

.dinnerDescription{
	font-size: 20px;
	font-family: "spectral";
	color: #83a0b0;
	display: none;

	@include tablet{
		
		&.open{
			display: block;
		}
	}
}